@model IEnumerable<WebAppAula02.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}
<h1>@ViewBag.Prop</h1>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaReserva)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaReserva)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
